{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga</title>
</head>
<body >
    <style>@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Slab:wght@300;400&display=swap");
    body{
        font-family:Montserrat;
    }
    
    </style>
    <div>
    <h1>Yoga poses for stress relief</h1>
</div>

    <h1>How does yoga help alleviate stress and anxiety?</h1>
    <p>
        Yoga encourages mental and physical relaxation, which helps reduce stress and anxiety. The physical postures promote flexibility, relieve tension, and alleviate pain.

Yoga poses may help you release physical blockages like muscle knots, helping release emotions and tension. They also promote the release of mood-boosting endorphins, which are the feel-good hormones that can positively affect how you handle stress.
    </p>


    <h1>Cat-Cow Pose (Marjaryasana to Bitilasana)</h1>
    <p>This pose allows you to connect your breath to your movements as you calm your mind and release stress. Allow your breath to guide each movement.</p>
        
    <ol>
        <li>Begin in a tabletop position.</li>
        <li>Place your wrists underneath your shoulders and your knees underneath your hips.</li>
        <li>As you inhale, turn your gaze toward the ceiling and allow your belly to move toward your mat, arching your back. This is Cow Pose.</li>
        <li>As you exhale, draw your chin in toward your chest and bend your spine toward the ceiling, like a cat.</li>
        <li>Continue to flow between these two positions for 1 minute.</li>
    </ol>
    
    <img src="{% static 'assets\p1.png '%}" alt="pose1" width="500px" height="500px">
    <img src="{% static 'assets\p2.png '%}" width="500px" height="500px">


    <h1>Child’s Pose (Balasana)</h1>
    <p>Child’s pose helps create an inward focus and restore energy. It also supports mental and physical relaxation.</p>
        
    <ol>
        <li>From a kneeling position, place your knees together or slightly apart..</li>
        <li>Sit back on your heels.</li>
        <li>Extend your arms in front of you or alongside your legs.</li>
        <li>Allow your torso to sink into your thighs.</li>
    
    <li>Breathe deeply and focus on relaxing your body..</li>
    <li>Hold this pose for up to 5 minutes.</li>

</ol>
    
    <img src="{% static 'assets\p3.png '%}" alt="pose1" width="800px" height="500px">
   


    <h1>Legs-Up-the-Wall Pose (Viparita Karani)</h1>
    <p>Legs-Up-the-Wall Pose provides deep relaxation while boosting lymph flow and circulation.</p>
        
    <ol>
        <li>Sit on the floor facing the wall, with your body as close to the wall as possible.</li>
        <li>Lie on your back and place your legs up the wall with straight knees.</li>
        <li>Position your hips next to the wall or a few inches away.</li>
        <li>Place your arms alongside your body, or place one hand on your belly and one hand on your chest.</li>
        <li>Hold this pose for up to 15 minutes.</li>
    </ol>
    
    <img src="{% static 'assets\p4.png '%}" alt="pose1" width="800px" height="500px">
   




    <h1>Corpse Pose (Savasana)</h1>
    <p>During this pose, focus on breathing deeply as you calm your mind and let go of tension.</p>
        
    <ol>
        <li>Lie flat on your back with your feet slightly wider than your hips..</li>
        <li>Allow your toes to splay out to the sides.</li>
        <li>Position your arms next to your body at a 45-degree angle..</li>
        <li>Align your head, neck, and shoulders with your spine.</li>
        <li>Breathe deeply as you allow your body to fully relax..</li>
        <li>Stay in this pose for 10–20 minutes.</li>
    </ol>
    
    <img src="{% static 'assets\p5.png '%}" alt="pose1" width="800px" height="500px">


</body>
</html>